<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-indicators carousel-round">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="1"
            aria-label="Slide 2"
          ></button>
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="2"
            aria-label="Slide 3"
          ></button>
        </div>
        <div class="carousel-inner carousel-inner-h">
          <div class="carousel-item active carousel-item-h">
            <img
              src="../../../assets/images/car1.jpg"
              class="d-block w-100 img-fluid"
              alt="..."
            />
          </div>
          <div class="carousel-item carousel-item-h">
            <img
              src="../../../assets/images/car2.jpg"
              class="d-block w-100 img-fluid"
              alt="..."
            />
          </div>
          <div class="carousel-item carousel-item-h">
            <img
              src="../../../assets/images/car3.jpg"
              class="d-block w-100 img-fluid"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev previous"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="" aria-hidden="true">
            <img
              src="../../../assets/images/arrow.png"
              class="img-fluid"
              alt=""
            />
          </span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="" aria-hidden="true">
            <img
              src="../../../assets/images/rightarrow.png"
              class="img-fluid"
              alt=""
            />
          </span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- slider -->

      <!-- card -->
      <div class="row">
        <div class="col-sm-6">
          <div class="card mb-3">
            <div class="card-header bg-white">
              <div class="fw-bold">My Events</div>
              <p class="text-secondary fs-12">
                Working with fundraisers to provide you funds
              </p>
            </div>
            <div class="card-body">
              <div class="row justify-content-center align-items-center">
                <div class="col-6">
                  <div class="fw-bold">You have not joined any events yet</div>
                  <p class="text-secondary fs-12">
                    Views events to join your joined events will appear here.
                  </p>
                  <a href="#" class="btn border-success">Go somewhere</a>
                </div>
                <div class="col-6">
                  <img
                    src="../../../assets/images/myevent.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mb-3">
            <div class="card-header bg-white">
              <div class="fw-bold">Funding Opportunity</div>
              <p class="text-secondary fs-12">
                Working with fundraisers to provide you funds
              </p>
            </div>
            <div class="card-body">
              <div class="row justify-content-center align-items-center">
                <div class="col-6">
                  <div class="fw-bold">
                    Complete your profile to view funding opportunities
                  </div>
                  <p class="text-secondary fs-12">
                    Views events to join your joined events will appear here.
                  </p>
                  <a href="#" class="btn border-success">Go somewhere</a>
                </div>
                <div class="col-6">
                  <img
                    src="../../../assets/images/Complete Profile 1.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card mb-3">
            <div class="card-header bg-white">
              <div class="fw-bold">Funding Opportunity</div>
              <p class="text-secondary fs-12">
                Working with fundraisers to provide you funds
              </p>
            </div>
            <div class="card-body">
              <div class="row justify-content-end">
                <div class="col-6">
                  <div class="fw-bold">
                    Complete your profile to view funding opportunities
                  </div>
                  <p class="text-secondary fs-12">
                    Views events to join your joined events will appear here.
                  </p>
                  <a href="#" class="btn border-success">Go somewhere</a>
                </div>
                <div class="col-6">
                  <img
                    src="../../../assets/images/Nothing 1.png"
                    class="img-fluid"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card border-danger mb-3" style="max-width: 18rem">
        <!-- <div class="card-header">Header</div> -->
        <div class="card-body">
          <div class="row">
            <div class="col-3">
              <img
                src="../../../assets/images/progressbar.png"
                class="img-fluid"
                alt=""
              />
            </div>
            <div class="col-9">
              <h5 class="card-title">Complete organization profile</h5>
            </div>
          </div>
          <p class="card-text fs-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>

      <div class="card mb-3">
        <div class="card-header bg-white">
          <div class="fw-bold">Recent News</div>
        </div>
        <div class="card-body">
          <ul class="list-unstyled">
            <li>Working with fundraisers to provide you funds</li>
            <li>Working with fundraisers to provide you funds</li>
            <hr />
            <li>Working with fundraisers to provide you funds</li>
            <li>Working with fundraisers to provide you funds</li>
            <hr />
            <li>Working with fundraisers to provide you funds</li>
            <li>Working with fundraisers to provide you funds</li>
          </ul>
        </div>
      </div>

      <div class="card mb-3">
        <img
          src="../../../assets/images/Group 1489.png"
          class="card-img-top img-fluid"
          alt=""
        />
        <div class="card-body">
          <h5 class="card-title fw-bold">Learn how to use SPN portal</h5>
          <p class="card-text fs-12">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
