<div class="container mb-4">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-5 col-sm-7 col-lg-4">
            <div class="card px-4 text-center">
                <img src="../../../../assets/images/Group 656.svg" class="img-fluid mt-3" style="height: 200px;" alt="">
                <div class="card-body">
                  <h6 class="card-title fw-bold mb-3">Your password have been reset successfully</h6>
                  <p class="card-text text-muted fs-11">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  <a class="btn btn-primary w-100 p-3 mb-4" routerLink="/login">Login Now</a>
                </div>
              </div>
        </div>
    </div>
</div>
