.carousel-round > button {
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }

  .carousel-round {
    right: 30%;
    bottom: 7px !important;
    
  }

  .carousel-item-h {
    height: 200px;
    border: 1px solid;
  } 
  .carousel-indicators .active {
    background-color:green;
}
  
  .card_pink {
    background-color: #fff3ed;
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #d35b5b 0%, #ff9900 100%);
    border-image-slice: 1;
  }

  .card{
    border-radius: 10px !important;
  }
 
.grey-dot::before{
content: "";
display: inline-block;
position: relative;
right: 4px;
height: 4px;
width: 4px;
border-radius: 50%;
vertical-align: middle;
background-color: #D9D9D9;
}

hr.myhrline{
  margin: 19px 0;
}

  @media (min-width: 320px) and (max-width: 991.98px) { 
    .carousel-indicators{
top: 100%;
right: 25%;
    }
   }
   @media (min-width: 320px) and (max-width: 419.98px) { 
    .btn-direction{
flex-direction: column;
    }
    .btn-width{
      width: 100%;
    }
   }
   .set-size {
    font-size: 50px;
  }
  
  .pie-wrapper {
    height: 1em;
    width: 1em;
    position: relative;
  }
  
  .pie-wrapper .pie {
    height: 100%;
    width: 100%;
    clip: rect(0, 1em, 1em, 0.5em);
    left: 0;
    position: absolute;
    top: 0;
  }
  .pie-wrapper .pie .half-circle {
    height: 100%;
    width: 100%;
    border: 0.1em solid #3498db;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
    left: 0;
    position: absolute;
    top: 0;
  }
  .pie-wrapper .label {
    background: #34495e;
    border-radius: 50%;
    bottom: 0.4em;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: 0.25em;
    left: 0.4em;
    line-height: 2.6em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 0.4em;
  }
  .pie-wrapper .label .smaller {
    color: black;
    font-size: .45em;
    padding-bottom: 20px;
    vertical-align: super;
  }
  .pie-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 0.1em solid #bdc3c7;
    border-radius: 50%;
  }
  
  .pie-wrapper.style-2 .label {
    background: white;
    color: black;
  }
  
  .pie-wrapper.progress-45 .pie .left-side {
    transform: rotate(162deg);
  }