<ng-container *ngIf="step==1">
    <div class="container">
        <div class="row justify-content-center card-bg align-items-center">
            <div class="col-12 col-md-5 col-sm-7 col-lg-4 h-100">
                <div class="card p-4 border-0">
                    <h4 class="fw-bold">Registered NGO account</h4>
                    <p class="text-muted mb-4 fs-12">Please enter your email address to reset password for your account.</p>
                    <form >
<div class="form-floating mb-3">
    <input type="email" name="" class="form-control mb-3" id="floatingInput"   placeholder="Email address" [formControl]="emailId">
   <label for="floatingInput">Email address</label>
    <div *ngIf="emailId.invalid && emailId.touched">
        <div  *ngIf="emailId.errors?.required" class="text-danger error-text" role="alert">Email is required</div>
        <div *ngIf="emailId.errors?.pattern" class="text-danger error-text" role="alert">Invalid Email</div>
      </div>
</div>
                        <button [ngClass]="{'bg-secondary':emailId.invalid,'bg-primary':emailId.valid}" type="submit" [disabled]="emailId.invalid" class="w-100 border-0 mb-4 rounded p-2 text-white bg-secondary" (click)="reset()">Reset Now</button>
                    </form>
                    <div class="mb-3 fs-12">Remember Password? <a style="color:green;"routerLink="/login" >Go Back</a></div>
                </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="step==2">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 col-md-5 col-sm-7 col-lg-4">
                <!-- <div class="circle position-absolute"></div> -->
                <div class="card p-4 border-0">
                    <h5 class="fw-bold mb-3">Reset your Password Now</h5>
                    <p class="text-muted mb-4 fs-12">Hey, Come join india’s biggest Network of NGOs! Enter your details to successfully create an account</p>

                    <form [formGroup]="confirmPasswordForm" >
                        <div class="mb-2 eye form-floating">
                            <input class="form-control" placeholder="Create Password" id="floatingPassword3"
                            [type]="show ? 'text' : 'password'" formControlName="newPassword">
                            <label for="floatingPassword3">Create Password</label>
                            <button class="eye-icon d-flex align-items-center" (click)="showPassword()">
                              <img src="{{show ? '/assets/images/show.svg' : '/assets/images/hide.svg'}}" alt=""></button>
                              <div *ngIf="(confirmPasswordFormControl.newPassword.invalid ) && (confirmPasswordFormControl.newPassword.dirty || confirmPasswordFormControl.newPassword.touched)" class="text-danger error-text mt-1" role="alert">
                                <div *ngIf="confirmPasswordFormControl.newPassword.errors?.required" class="text-danger error-text" role="alert"> Password is required</div>
                                <div *ngIf="confirmPasswordFormControl.newPassword.errors?.pattern" class="text-danger error-text" role="alert">Password must be 8 characters which contain at least one numeric digit and a special character</div>
                                <div *ngIf="confirmPasswordFormControl.newPassword.errors?.minlength" class="text-danger error-text" role="alert">Minimum 8 characters</div>
                              </div>
                          </div>
                          <div class="mb-2 form-floating eye">
                            <input class="form-control" placeholder="Re-enter Password" id="floatingPassword4"
                            [type]="shows ? 'text' : 'password'" formControlName="confirmPassword">
                            <label for="floatingPassword4">Re-enter Password</label>
                            <button class="eye-icon d-flex align-items-center" (click)="showRenterPassword()">
                              <img src="{{shows ? '/assets/images/show.svg' : '/assets/images/hide.svg'}}" alt=""></button>
                              <div *ngIf="(confirmPasswordFormControl.confirmPassword.invalid ) && (confirmPasswordFormControl.confirmPassword.dirty || confirmPasswordFormControl.confirmPassword.touched)" class="text-danger error-text mt-1" role="alert">
                                <div *ngIf="confirmPasswordFormControl.confirmPassword.errors?.required" class="text-danger error-text" role="alert">Confirm is required</div>
                                <div *ngIf="confirmPasswordFormControl.confirmPassword.errors?.minlength" class="text-danger error-text" role="alert">Minimum 8 characters</div>
                                <div *ngIf="confirmPasswordFormControl.confirmPassword.errors?.mustMatch" class="text-danger error-text" role="alert">Confirm Password do not match</div>
                              </div>
                          </div>
                          <button [ngClass]="{'bg-secondary':confirmPasswordForm.invalid,'bg-primary':confirmPasswordForm.valid}" type="submit" [disabled]="confirmPasswordForm.invalid" class="mt-2 w-100 border-0 mb-4 rounded p-2 text-white bg-secondary" (click)="resetPassword()">Reset Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</ng-container>