.card{
    border-radius: 20px;
    // height: 305px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.card-bg{
    background-image: url('../../../../assets/images/forget-bg.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.eye-icon {
    border: none;
    background: none;
    position: absolute;
    top: 20px;
    right: 30px;
  }
  @media (min-width: 320px) and (max-width: 575.98px) { 
.card-bg{
    background-size: cover;
}
   }
