
<div class="container-fluid mb-4" style="background-color: #DFE2D7;">
    <div style="height: 700px">
        <div class="row">
            <div class="w-100 d-flex justify-content-center my-3">
            <div class="row w-50">
                    <div class="row">
                        <div class="col-1 d-flex justify-content-end  align-items-center">
                            <img  style="cursor: pointer;"  routerLink="/user-profile" class="img-fluid img-class-arrow " src="/assets/images/leftarrow.svg" >
                        </div>
                        <div class="col-11">
                            <h4>Reset Password</h4>
                            <p class="text-secondary fs-14">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad magni dolorum aut voluptate dolore, fugiat iste qui commodi nisi cum!</p>
                        </div>
                        </div>

                </div>
            </div>
            </div>
            <div class="w-100 d-flex justify-content-center ">
                <div class="card" style="width: 47rem;">
                    <div class="card-body mt-3 ">
                        <div class="row">
                            <div class=" row">
                                <form class=" col-12 p-4" [formGroup]="passwordResetForm">
                                    <div class="mb-2 form-floating eye">
                                        <input class="form-control" id="floatingPassword1" placeholder="Old Password"
                                        [type]="showOld ? 'text' : 'password'" formControlName="oldPassword">
                                        <label for="floatingPassword1">Old Password*</label>
                                        <button class="eye-icon d-flex align-items-center" (click)="showOldPassword()">
                                          <img src="{{showOld ? '/assets/images/show.svg' : '/assets/images/hide.svg'}}" alt=""></button>
                                          <div *ngIf="(passwordResetFormControl.oldPassword.invalid ) && (passwordResetFormControl.oldPassword.dirty || passwordResetFormControl.oldPassword.touched)" class="text-danger error-text" role="alert">
                                            <div *ngIf="passwordResetFormControl.oldPassword.errors?.required" class="text-danger error-text" role="alert">Old Password is required</div>
                                          </div>
                                      </div>
                                    <div class="mb-2 form-floating eye">
                                        <input class="form-control" id="floatingPassword1" placeholder="New Password"
                                        [type]="show ? 'text' : 'password'" formControlName="newPassword">
                                        <label for="floatingPassword1">New Password*</label>
                                        <button class="eye-icon d-flex align-items-center" (click)="showPassword()">
                                          <img src="{{show ? '/assets/images/show.svg' : '/assets/images/hide.svg'}}" alt=""></button>
                                          <div *ngIf="(passwordResetFormControl.newPassword.invalid ) && (passwordResetFormControl.newPassword.dirty || passwordResetFormControl.newPassword.touched)" class="text-danger error-text" role="alert">
                                            <div *ngIf="passwordResetFormControl.newPassword.errors?.required" class="text-danger error-text" role="alert">Password is required</div>
                                            <div *ngIf="passwordResetFormControl.newPassword.errors?.pattern" class="text-danger error-text" role="alert">Password must be 8 characters which contain at least one numeric digit and a special character</div>
                                            <div *ngIf="passwordResetFormControl.newPassword.errors?.minlength" class="text-danger error-text" role="alert">Minimum 8 characters</div>
                                          </div>
                                      </div>
                                      <div class="mb-2 form-floating eye">
                                        <input class="form-control" id="floatingPassword2" placeholder="Re-enter New Password"
                                        [type]="shows ? 'text' : 'password'" formControlName="confirmPassword">
                                        <label for="floatingPassword2">Re-enter New Password*</label>
                                        <button class="eye-icon d-flex align-items-center" (click)="showRenterPassword()">
                                          <img src="{{shows ? '/assets/images/show.svg' : '/assets/images/hide.svg'}}" alt=""></button>
                                          <div *ngIf="(passwordResetFormControl.confirmPassword.invalid ) && (passwordResetFormControl.confirmPassword.dirty || passwordResetFormControl.confirmPassword.touched)" class="text-danger error-text" role="alert">
                                            <div *ngIf="passwordResetFormControl.confirmPassword.errors?.required" class="text-danger error-text" role="alert">Password is required</div>
                                            <div *ngIf="passwordResetFormControl.confirmPassword.errors?.pattern" class="text-danger error-text" role="alert">Password must be 8 characters which contain at least one numeric digit and a special character</div>
                                            <div *ngIf="passwordResetFormControl.confirmPassword.errors?.minlength" class="text-danger error-text" role="alert">Minimum 8 characters</div>
                                            <div *ngIf="passwordResetFormControl.confirmPassword.errors?.mustMatch" class="text-danger error-text" role="alert">New password does not match</div>
                                          </div>
                                      </div>
                                    <div class="row">
                                        <div class="col">
                                            <button [disabled]="passwordResetForm.invalid" type="submit" (click)="submitReset()" class="btn btn-primary py-3 text-white w-100 mt-3" >
                                                Submit
                                              </button>
                                        </div>
                                        <div class="col">
                                            <button  class="btn btn-outline-primary py-3  w-100 mt-3" [routerLink]="['/user-profile']"  >
                                                Cancel
                                              </button>
                                        </div>
                                        
                                      </div>
                                      
                                </form>
                            </div>
                        </div>
                  </div>
            </div>
    
        </div>
    </div>

</div>

