<!-- <section class="bg-light">
  <div class="container-fluid bg-light">
    <div class="row m-auto">
      <div class="col-lg-8 col-md-8 col-sm-12 p-0 h-auto pt-5">
        <div class="card bg-white border border-0">
          <div
            class="d-flex flex-wrap justify-content-between align-items-centre"
          >
            <div class="col-4 col-md-4 col-sm-4 position-relative ps-5 ps-sm-0">
              <div
                class="rounded-circle bg-light border border-1 border-white position-relative"
                style="
                  height: 200px;
                  width: 200px;
                  display: block;
                  top: -40px;
                  left: 20px;
                "
              ></div>
            </div>
            <div class="col-8 col-md-8 col-sm-8 mt-3">
              <div class="">
                <h3>Narayan Seva Sansthan</h3>
                <p class="mt-2">
                  Feeding thounsands of hungry stomach everyday in New Delhi,
                  Mumbai & Bhubaneswar | Coming Soon in Bengaluru
                </p>
                <div
                  class="d-flex flex-wrap justify-content-between align-items-centre"
                >
                  <span class="text-danger fw-bold">Level 1</span>
                  <span>Rights, Equality & Empowerment</span>
                  <span>New Delhi, Delhi, India</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        card2
        <div class="card bg-white border border-0 h-auto my-3">
          <div
            class="d-flex flex-wrap justify-content-between align-items-centre"
          >
            <div class="col-2 position-relative ps-5">
              <span></span>
            </div>
            <div class="col-5 my-3">
              <div class="">
                <h3>Complete organization profile</h3>
                <p class="mt-2">
                  Fillout the required data to take your profile to the next
                  level
                </p>
                <div
                  class="d-flex flex-wrap justify-content-start align-items-centre"
                >
                  <span class="text-danger fw-bold"
                    ><img src="assets/images/eye.svg" alt="" width="25px"
                  /></span>
                  <span class="ms-5">Only visible to you </span>
                </div>
              </div>
            </div>
            <div class="col-4 pt-5">
              <button type="button" class="btn text-primary shadow">
                Add/Edit Details
              </button>
            </div>
          </div>
        </div>
        card 3
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
        <div class="card bg-dark text-white p-3">
          <div class="d-flex flex-wrap justify-content-between">
            <span>joined SPN on</span>
            <span>Feb 6, 2022</span>
          </div>
          <div class="d-flex flex-wrap justify-content-between mt-2">
            <span>joined SPN on</span>
            <span>Feb 6, 2022</span>
          </div>
        </div>
        card22
        <div class="card p-3 mt-3">
          <div class="d-flex flex-wrap justify-content-between">
            <span>Edit public profile & url</span>
            <span>Feb 6, 2022</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<div class="container-fluid" *ngIf="false">
  <div class="row">
    <div class="col-8">
      <div class="card mt-2">
        <div>
          <img src="/assets/images/cover-photo.jpg" alt="" class="cover-bg">
        </div>
        <div class="d-flex flex-column flex-md-row align-items-center p-2">
          <div class="profile me-2">
            <img src="/assets/images/logo.jpg" alt="" class="profile-img rounded-circle shadow">
          </div>
          <div class="pb-2 pb-lg-5 pt-2">
            <h4 class="fw-bold fst-rubik">Narayan Seva Sansthan</h4>
            <p class="fs-14">
              Feeding thounsands of hungry stomach everyday in New Delhi, Mumbai & Bhubaneswar
               | Coming Soon in Bengaluru
            </p>
            <small class="text-danger">Level 3</small>
          </div>
          <button type="button" class="btn btn-white d-flex align-items-center justify-content-center text-primary shadow-sm mid-btn">
            <span class="me-2">
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 9.53911V12.0476H2.5L9.87333 4.6492L7.37333 2.1407L0 9.53911ZM11.8067 2.70929C12.0667 2.44841 12.0667 2.02698 11.8067 1.7661L10.2467 0.20079C9.98667 -0.0600941 9.56667 -0.0600941 9.30667 0.20079L8.08667 1.42494L10.5867 3.93344L11.8067 2.70929Z" fill="#0A9437"/>
              </svg>
            </span>
            Edit
          </button>
        </div>
      </div>
      <div class="card flex-row justify-content-between align-items-center mt-2 px-4 border-0 shadow-sm">
        <div class="d-flex align-items-center">
          <div>
            <div class="circle-wrap">
              <div class="circle">
                  <div class="mask full">
                      <div class="fill"></div>
                  </div>
                  <div class="mask half">
                      <div class="fill"></div>
                  </div>
                  <div class="inside-circle">75%</div>
              </div>
            </div>
            <!-- <app-progress-circle></app-progress-circle> -->
    
          </div>
          <div class="p-2">
            <h5 class="fw-bold">Complete organization profile</h5>
            <p class="fs-12">Fillout the required data to take your profile to the next level</p>
            <p class="fs-12">
              <span>
                <svg width="14" height="9" viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6.98717 0C4.31722 0 1.89598 1.46075 0.109342 3.8334C-0.0364473 4.02779 -0.0364473 4.29936 0.109342 4.49374C1.89598 6.86925 4.31722 8.33 6.98717 8.33C9.65711 8.33 12.0784 6.86925 13.865 4.4966C14.0108 4.30221 14.0108 4.03065 13.865 3.83626C12.0784 1.46075 9.65711 0 6.98717 0ZM7.17869 7.09794C5.40635 7.20942 3.94274 5.74867 4.05423 3.97347C4.1457 2.50986 5.33203 1.32354 6.79564 1.23206C8.56798 1.12058 10.0316 2.58133 9.9201 4.35653C9.82577 5.81728 8.63945 7.0036 7.17869 7.09794ZM7.09008 5.74295C6.1353 5.80299 5.34632 5.01687 5.40921 4.06209C5.45781 3.27311 6.09814 2.63564 6.88712 2.58419C7.84189 2.52416 8.63087 3.31027 8.56798 4.26505C8.51653 5.05689 7.87619 5.69436 7.09008 5.74295Z" fill="#696969"/>
                </svg>                
            </span> 
              Only visible to you
            </p>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-light d-flex align-items-center text-primary shadow-sm">
            <span class="me-2">
              <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 9.53911V12.0476H2.5L9.87333 4.6492L7.37333 2.1407L0 9.53911ZM11.8067 2.70929C12.0667 2.44841 12.0667 2.02698 11.8067 1.7661L10.2467 0.20079C9.98667 -0.0600941 9.56667 -0.0600941 9.30667 0.20079L8.08667 1.42494L10.5867 3.93344L11.8067 2.70929Z" fill="#0A9437"/>
              </svg>
            </span>
            Add/Edit Details
          </button>
        </div>
       
      </div>
      <nav mat-tab-nav-bar>
        <a mat-tab-link
        [ngClass]="{'active': router.url.includes(item.routeName)}" *ngFor="let item of tabList"
        (click)="activateChildRoute(item.routeName)">
          {{item.tabName}}
        </a>
      </nav>
      
      <!-- <ul class="nav bg-white px-4 rounded my-2 shadow-sm">
        <li class="nav-item d-flex">
          <a class="nav-link" role='button' [ngClass]="{'active': router.url.includes(item.routeName)}" *ngFor="let item of tabList"
            (click)="activateChildRoute(item.routeName)">
            {{item.tabName}}
          </a>
        </li>
      </ul> -->
      <div class="card shadow-sm border-0 p-2">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-4">
      <div class="card mt-2 border-0 shadow-sm bg-grey">
        <div class="card-body">
          <div class="d-flex flex-md-row flex-column justify-content-between">
            <p class="text-white fs-12">Joined SPN on</p>
            <p class="text-white fs-12">Feb 6,2022</p>
          </div>
          <div class="d-flex flex-md-row flex-column justify-content-between">
            <span class="text-white fs-12">Profile last updated on</span>
            <span class="text-white fs-12">Feb 12,2022</span>
          </div>
        </div>
      </div>
      <div class="card my-2 shadow-sm border-0">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <span class="fs-14">Edit public profile & url</span>
            <svg width="24px" height="24px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 22C17.5228 22 22 17.5228 22 12C22 6.47715 17.5228 2 12 2C6.47715 2 2 6.47715 2 12C2 17.5228 6.47715 22 12 22Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M9 9C9 5.49997 14.5 5.5 14.5 9C14.5 11.5 12 10.9999 12 13.9999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M12 18.01L12.01 17.9989" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>              
          </div>
        </div>
      </div>
      <div class="card my-2 shadow-sm border-0">
        <div class="card-body">
          <p class="fw-bold fs-14 mb-0">Benefits of Entering data in SPN</p>
          <p class="fs-10 mb-1">Add new details with these Lorem Ipsum has been
            the industry's standard</p>
          <ng-container *ngFor="let item of benefits; let i = index">
            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-center">
              <img [src]='"assets/images/"+item.image+".jpg"' alt="" class="img-fluid rounded">
              <p class="ms-2">{{item.heading}}</p>
            </div>
            <hr *ngIf="benefits.length != i+1">
          </ng-container>
        </div>
      </div>
    </div>
    
  </div>
</div>